

a {
	color: #069;
	}
	
#content h1, .featured h1 {
	color: #069;
	}
	
h4 {
	color: #497E99;
	}
	
th {
		border-color: #DDD #DDD #069 #DDD;
		}
	
dt {
	color: #069;
	}
	
blockquote .cite {
	text-align: right;
	font-style: italic;
	color: #069;
	}
	
	
#searchform {
	background: #069 url('../images/arrow_blue.jpg') no-repeat center right;
	}

input.button { 
		background:#069;
		}
	
#nav li a:hover {
	background: #069;
	}
	
.featured a.readmore {
	background: #069;
	}
	
#sidebar ul li a:hover {
	background: #069 url('../images/arrow_blue.jpg') no-repeat center right;
	}
	
#footer {
	background: #069;
	}
	
#footer ul li a {
	border-bottom: 1px solid #005C89;
	}
	
#footer ul li a:hover {
	background: url('../images/arrow_blue.jpg') no-repeat center right;
	}
	
#footer img {
border: 4px solid #046;
}
	