

a {
	color: #690;
	}
	
#content h1, .featured h1 {
	color: #690;
	}
	
th {
	border-color: #DDD #DDD #690 #DDD;
	}
	
dt {
	color: #690;
	}
	
blockquote .cite {
	color: #690;
	}

input.button { 
		background:#690;
		}
	
#nav li a:hover {
	background: #690;
	}
	
.featured a.readmore {
	background: #690;
	}
	
#searchform {
	background: #690 url('../images/arrow_green.jpg') no-repeat center right;
	}
#sidebar ul li a:hover {
	background: #690 url('../images/arrow_green.jpg') no-repeat center right;
	}
#footer ul li a:hover {
	background: url('../images/arrow_green2.jpg') no-repeat center right;
	}
	
h4 {
	color: #99B449;
	}
	
#footer {
	background: #580;
	}
	
#footer ul li a {
	border-bottom: 1px solid #4c7c00;
	}
	
#footer img {
	border: 4px solid #360;
	}
	