

a {
	color: #EE4A02;
	}
	
#content h1, .featured h1 {
	color: #EE4A02;
	}
	
th {
	border-color: #DDD #DDD #EE4A02 #DDD;
	}
	
dt {
	color: #EE4A02;
	}
	
blockquote .cite {
	color: #EE4A02;
	}

input.button { 
		background:#EE4A02;
		}
	
#nav li a:hover {
	background: #EE4A02;
	}
	
.featured a.readmore {
	background: #EE4A02;
	}
	
#searchform {
	background: #EE4A02 url('../images/arrow_orange.jpg') no-repeat center right;
	}
#sidebar ul li a:hover {
	background: #EE4A02 url('../images/arrow_orange.jpg') no-repeat center right;
	}
#footer ul li a:hover {
	background: url('../images/arrow_orange2.jpg') no-repeat center right;
	}
	
h4 {
	color: #C5704A;
	}
	
#footer {
	background: #C03B02;
	}
	
#footer ul li a {
	border-bottom: 1px solid #AC3502;
	}
	
#footer img {
	border: 4px solid #9B2401;
	}
	