

a {
	color: #E4C402;
	}
	
p a, .meta a {
	color: #988301;
	}
	
#content h1, .featured h1 {
	color: #E4C402;
	}
	
th {
	border-color: #DDD #DDD #E4C402 #DDD;
	}
	
dt {
	color: #E4C402;
	}
	
blockquote .cite {
	color: #E4C402;
	}

input.button { 
		background:#E4C402;
		}
	
#nav li a:hover {
	background: #E4C402;
	}
	
.featured a.readmore {
	background: #E4C402;
	}
	
#searchform {
	background: #E4C402 url('../images/arrow_yellow.jpg') no-repeat center right;
	}
#sidebar ul li a:hover {
	background: #E4C402 url('../images/arrow_yellow.jpg') no-repeat center right;
	}
#footer ul li a:hover {
	background: url('../images/arrow_yellow2.jpg') no-repeat center right;
	}
	
h4 {
	color: #993;
	}
	
#footer {
	background: #988301;
	}
	
#footer ul li a {
	border-bottom: 1px solid #907c00;
	}
	
#footer img {
	border: 4px solid #766100;
	}
	